<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
</head>
<body>
    <div>Welcome to the message board, <%= locals.user.first_name %></div>
    <div>You are:</div>
    <ul>
        <% if (locals.user.is_member == true) { %>
        <li>A member</li>
        <% } %>

        <% if (locals.user.is_member == false) { %>
        <li>Not a member</li>
        <% } %>

        <% if (locals.user.is_admin == false) { %>
        <li>Not an admin</li>
        <% } %>

        <% if (locals.user.is_admin == true) { %>
        <li>An admin</li>
        <% } %>
    </ul>

    <div>If you are a member, you can make new posts, as well as see the authors and timestamps for each post.</div>

    <% if (locals.messages.length > 0 && locals.user.is_member == true) { %>
        <% locals.messages.forEach((message) => { %>
            <div><%= message.first_name %></div>
            <div><%= message.time %></div>
            <div><%= message.message %></div>
            <% if (locals.user.is_admin == true) { %>
                <form method="post" action="/message-board/delete-post/<%= message.id %>">
                <button type="submit">Delete Post</button>
                </form>
    <% }})} %>

    <% if (locals.messages.length > 0 && locals.user.is_member == false) { %>
        <% locals.messages.forEach((message) => { %>
            <div>****** (name hidden from non-members)</div>
            <div>****** (time hidden from non-members)</div>
            <div><%= message.message %></div>
            <div></div>
    <% })} %>

    <% if (locals.user.is_member == false) { %>
        <a href="join">Join the members club!</a>
    <% } %>

    <% if (locals.user.is_member == true) { %>
        <a href="add-message">New Post</a>
    <% } %>

</body>
</html>